<div class="period-container">
    <div id="{identifier}{data.uid}" class="time-container">
      <div class="upper cc-{identifier}">
        <span></span>
      </div>
      <div class="upper-back cc-{identifier}">
        <span></span>
      </div>
      <div class="lower cc-{identifier}">
        <span></span>
      </div>
      <div class="lower-back cc-{identifier}">
        <span></span>
      </div>
    </div>
    <span class="period-label"><f:translate key="{identifier}" extensionName="countdown_element" /></span>
  </div>